.text-properties{
    padding-top:15px;
    font-size: 19.2px; 
}

.movie-icon{
    font-size: 1.5em;
    display: inline-block;
    margin-right: 10px;
}

.actor-image{
    width: 100%;
    min-height: 50px;
    padding: 10px;
}

.information-header{
    color: black;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

.movie-cast_info {
    color: black;
    background: rgba(0,0,0,.1);
    width: 100%;
    min-height: 50px;
    padding: 10px;
    text-align: center;
}

.content-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

#movie-details{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#movie-img{
    width: 300px !important;
}

#overview-text{
    font-weight: 300;
}

#principal-card{
    margin-top: 20px;
    border-color: white;
    background-color: #202324;
    border-width: 2px; 
    border-radius: 0;
}

#card-header div{
    display: flex; 
    justify-content: space-between; 
}

#card-body{
    padding-top: 0; 
    display: flex; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}

#card-footer{
    background-color: rgba(0,0,0,.8);
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    color: #adb5bd;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#card-footer div{
    margin-right: 5px;
}

#genre{
    margin-right: 6px;
    margin-top: 6px;
    font-size: 16px;
}

@media(min-width: 900px){

    .no-mp-desktop{
        margin: 0;
        padding: 0;        
    }

    #principal-card{
        margin: 0;
        height: 500px;
    }

    #movie-img{
        height: 500px;
        width: 300px !important;
    }
}