#user-infos{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-link{
    font-size: 14pt;
    text-decoration: none;
    color:white;
}

.list-link:hover{
    color: white;
    text-decoration: underline;
}