.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.reviews-link{
    text-decoration: none;
    color:white;
}

.reviews-link:hover{
    color: white;
    text-decoration: none;
}

#reviews-text{
    margin-top: 10px;
    margin-bottom: 15px;
}

#user-icon{
    font-size: 22px;
    color: white;
    vertical-align: auto;
}

#user-name{
    margin-left: 10px;
}

#logout-button{
    margin-top: 20px;
    font-size: 17px;
}

@media(min-width: 770px){
    #user-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #logout-button{
        margin-top: 0;
        margin-left: 20px;
    }

    #user-name{
        display: none;
    }

}