body{
    background-color: #202324;
    color: white;
}

.principal-container{
    position: relative;
    top: 5.2rem;
}

.avatar-icon{
    height: 40px;
    width: 40px;
    border-radius: 30px;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}