body{
    background-color: #202324;
    color: white;
}

.principal-container{
    position: relative;
    top: 5.2rem;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}