body{
    background-color: #202324;
    color: white;
}

.principal-container{
    position: relative;
    top: 5.2rem;
    padding-bottom: 30px;
}


.rate-card{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 50px; 
    height: 50px; 
    border-color: yellow; 
    border-width: 4px; 
    border-style: solid; 
    border-radius: 30px; 
}

.avatar-icon{
    height: 40px;
    width: 40px;
    border-radius: 30px;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}